@import './vars.scss';
body {
    background-image: url('../assets/bg.png');
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', helvetica;
    padding: 0;
    margin: 0;
    color: $white;
    @media only screen and (min-width: 600px) {
        .header__container {
            display: flex;
            justify-content: space-between;
            width: 97% !important;
            margin-left: 5%;
            .header__languaje {
                display: flex;
                padding: 10px;
                .header__flag {
                    cursor: pointer;
                    img {
                        max-width: 40px;
                        padding: 5px;
                    }
                }
            }
            .header__nav {
                display: flex;
                padding: 10px;
                cursor: pointer;
                button {
                    background: $button-primary;
                    color: $white;
                    border: none;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
        .landing__container {
            display: flex;
            justify-content: space-around;
            width: 100%;
            min-height: 100vh;
            .signup__container {
                text-align: center;
                padding-top: 8%;
                background: $light-blue-transparent;
                width: 48%;
                .socials_container {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    svg {
                        font-size: 1.5rem;
                        margin: 5px;
                    }
                }
                input {
                    border: 0;
                    outline: 0;
                    background: none;
                    border-bottom: 1px solid $white;
                    width: 50%;
                    margin: 10px;
                    color: $white;
                    font-size: 1.2rem;
                    &::placeholder {
                        color: $white;
                        opacity: 0.7;
                    }
                }
                a {
                    color: $white !important;
                }
                input[type=checkbox] {
                    width: 15px;
                    margin: 0;
                    cursor: pointer;
                }
                label {
                    font-size: 0.8rem;
                }
                button {
                    background: $white;
                    color: $light-blue;
                    border: none;
                    height: 40px;
                    min-width: 200px;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    margin-top: 10px;
                    cursor: pointer;
                }
                .signup__registered {
                    cursor: pointer;
                    margin-top: 10px;
                    a {
                        color: white;
                    }
                }
            }
            .presentation__container {
                width: 50%;
                height: 100% !important;
                text-align: center;
                .header__container {
                    width: 90%;
                    height: 50px;
                }
                .infobox__container {
                    background: $black-transparent;
                    padding: 20px;
                    width: 90%;
                    margin: 0 5%;
                    text-align: center;
                    .infobox__title {
                        letter-spacing: 0.1rem;
                        font-weight: 500;
                        font-size: 2rem;
                        color: $white;
                        text-transform: uppercase;
                        margin: 0;
                        .infobox__title--blue {
                            color: $light-blue;
                        }
                    }
                    .infobox__description {
                        text-transform: uppercase;
                    }
                    .infobox__saleContainer {
                        margin-left: 10%;
                        .infobox__saleTitle {
                            text-transform: uppercase;
                            .infobox__saleTitle--first {
                                font-size: 2rem;
                                font-weight: 500;
                                color: $white;
                            }
                            .infobox__saleTitle--second {
                                color: $light-green;
                            }
                        }
                        .infobox__saleSubtitle {
                            font-size: 1.25rem;
                            font-weight: 300 !important;
                            text-align: left;
                            text-transform: uppercase;
                            margin-left: 15%;
                            color: $light-blue;
                        }
                    }
                    .infobox__screensContainer {
                        margin-top: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        width: 95%;
                        margin: 2%;
                        background: $black-transparent;
                        .infobox__screen {
                            max-width: 28%;
                            margin: 2%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .landing__container {
            width: 100%;
            .signup__container {
                text-align: center;
                input {
                    border: 0;
                    outline: 0;
                    background: none;
                    border-bottom: 1px solid $white;
                    width: 50%;
                    margin: 10px;
                    color: $white;
                    font-size: 1.2rem;
                    &::placeholder {
                        color: $white;
                        opacity: 0.7;
                    }
                }
                a {
                    color: $white !important;
                }
                input[type=checkbox] {
                    width: 15px;
                    margin: 0;
                    cursor: pointer;
                }
                label {
                    font-size: 0.8rem;
                }
                button {
                    background: $white;
                    color: $light-blue;
                    border: none;
                    height: 40px;
                    min-width: 200px;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    margin-top: 10px;
                    cursor: pointer;
                }
                .signup__registered {
                    cursor: pointer;
                    margin-top: 10px;
                    width: 100%;
                    a {
                        color: white;
                    }
                }
            }
            .presentation__container {
                width: 100%;
                height: 100% !important;
                .header__container {
                    width: 100%;
                    min-height: 50px;
                    text-align: center;
                    overflow: hidden;
                    .header__languaje {
                        display: flex;
                        justify-content: space-around;
                        padding: 5px;
                        .header__flag {
                            cursor: pointer;
                            img {
                                max-width: 30px;
                            }
                        }
                    }
                    .header__nav {
                        display: flex;
                        justify-content: space-around;
                        padding: 0px;
                        cursor: pointer;
                        button {
                            background: $button-primary;
                            color: $white;
                            border: none;
                            margin-left: 10px;
                            cursor: pointer;
                            min-height: 30px;
                            min-width: 40%;
                            margin-bottom: 10px;
                        }
                    }
                }
                .infobox__container {
                    background: $black-transparent;
                    padding: 50px 5px;
                    width: 100%;
                    margin: 0;
                    text-align: center;
                    .infobox__title {
                        letter-spacing: 0.1rem;
                        font-weight: 500;
                        font-size: 2rem;
                        color: $white;
                        text-transform: uppercase;
                        margin: 0;
                        .infobox__title--blue {
                            color: $light-blue;
                        }
                    }
                    .infobox__description {
                        text-transform: uppercase;
                    }
                    .infobox__saleContainer {
                        .infobox__saleTitle {
                            text-transform: uppercase;
                            margin-bottom: 20px;
                            img {
                                max-width: 80%;
                            }
                            .infobox__saleTitle--first {
                                font-size: 2rem;
                                font-weight: 500;
                                color: $white;
                            }
                            .infobox__saleTitle--second {
                                color: $light-green;
                            }
                        }
                        .infobox__saleSubtitle {
                            font-size: 1.25rem;
                            font-weight: 300 !important;
                            text-align: left;
                            text-transform: uppercase;
                            color: $light-blue;
                        }
                    }
                    .infobox__screensContainer {
                        display: none !important;
                    }
                }
            }
            .signup__container {
                background: $light-blue-transparent;
                width: 100%;
                padding: 5px;
                .socials_container {
                    position: relative;
                    top: 5px;
                    svg {
                        font-size: 1.5rem;
                        margin: 5px;
                    }
                }
                form {
                    align-items: center;
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .signup_formPart {
                        width: 100%;
                    }
                }
            }
        }
    }
}