@import './vars.scss';
body {
    background-image: url('../assets/bg.png');
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', helvetica;
    padding: 0;
    margin: 0;
    color: $white;
    .header__container {
        display: flex;
        justify-content: space-between;
        width: 97% !important;
        margin-left: 5%;
        .header__languaje {
            display: flex;
            padding: 10px;
            .header__flag {
                cursor: pointer;
                img {
                    max-width: 40px;
                    padding: 5px;
                }
            }
        }
        .header__nav {
            display: flex;
            padding: 10px;
            cursor: pointer;
            button {
                background: $button-primary;
                color: $white;
                border: none;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
    .landing__container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        min-height: 100vh;
        .signup__container {
            text-align: center;
            padding-top: 8%;
            input {
                border: 0;
                outline: 0;
                background: none;
                border-bottom: 1px solid $white;
                width: 50%;
                margin: 10px;
                color: $white;
                font-size: 1.2rem;
                &::placeholder {
                    color: $white;
                    opacity: 0.7;
                }
            }
            a {
                color: $white !important;
            }
            input[type=checkbox] {
                width: 15px;
                margin: 0;
                cursor: pointer;
            }
            label {
                font-size: 0.8rem;
            }
            button {
                background: $white;
                color: $light-blue;
                border: none;
                height: 40px;
                min-width: 200px;
                font-size: 1.2rem;
                text-transform: uppercase;
                margin-top: 10px;
                cursor: pointer;
            }
            .signup__registered {
                cursor: pointer;
                margin-top: 10px;
                a {
                    color: white;
                }
            }
        }
        .presentation__container {
            width: 50%;
            height: 100% !important;
            .header__container {
                width: 90%;
                height: 50px;
            }
            .infobox__container {
                background: $black-transparent;
                padding: 20px;
                width: 90%;
                margin: 0 5%;
                text-align: center;
                .infobox__title {
                    font-size: 2rem;
                    color: $white;
                    text-transform: uppercase;
                    .infobox__title--blue {
                        color: $light-blue;
                    }
                }
                .infobox__description {
                    text-transform: uppercase;
                }
                .infobox__saleContainer {
                    margin-left: 10%;
                    .infobox__saleTitle {
                        text-transform: uppercase;
                        .infobox__saleTitle--first {
                            font-size: 2rem;
                            color: $white;
                        }
                        .infobox__saleTitle--second {
                            color: $light-green;
                        }
                    }
                    .infobox__saleSubtitle {
                        font-family: Helvetica, sans-serif;
                        font-size: 1.25rem;
                        font-weight: lighter;
                        text-align: left;
                        margin-left: 10%;
                    }
                }
                .infobox__container {
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    width: 85%;
                    .infobox__screen {
                        max-width: 28%;
                        margin: 2%;
                        cursor: pointer;
                    }
                }
            }
        }
        .signup__container {
            background: $light-blue-transparent;
            width: 48%;
        }
    }
}