@import './vars.scss';
.terms-container {
    background: $black-transparent;
    margin: 5% 5%;
    max-width: 90%;
    padding: 5%;
    .terms-and-conditions {
        color: white;
        text-align: left;
    }
    .terms-and-conditions a {
        color: white;
    }
}